:root {
  --LightW0: rgb(237, 237, 237);
  --RED: red;
  --BLUE: gb(137, 153, 225);
  --pre: #dab212;
  --pre2: #e5cb90;
  --pre3: #f0f0f0;
  --sec: #b4e1eb;
  --sec2: #34a99d;
  --tri1: #95bdd7;
  --tri2: #78a4cb;
  --tri: #458393;
  --dark: #01150e;
  --dark1: #0b745f;
  --dark2: #08a182;
  --dark3: #558467;
  --light0: #ffbe91;
  --light1: #ffddb0;
  --light2: #fffce1;
  --light3: #cfebff;
  --additional0: cornsilk;
  --MAIN: rgb(216, 241, 239);
  --PomoBTNC: black;
}

@font-face {
  font-family: light;
  src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: bold;
  src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: normal;
  src: url(./AeonikTRIAL-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: normal;
  color: var(--dark);
}
html,
body {
  height: 100%;
  width: 100%;
}
/* 
nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--pre);
} */

#main {
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  background-color: var(--MAIN);
}
section.allElems {
  min-height: 100vh;
  width: 100%;
  padding: 40px;
  padding-top: 80px;
  overflow-y: auto;
  position: relative;
}

.allElems header {
  /* height: 400px; */
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1593448450897-164ce1b9a4d5?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3Dhttps://images.unsplash.com/photo-1643639847832-91707b48c4d3?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  margin-bottom: 45px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 50px;
}
header .header1 h1 {
  margin-bottom: 20px;
  font-size: 60px;
}

header .header1 h2 {
  font-size: 40px;
  font-weight: 700;
}

header .header1 h4 {
  font-size: 40px;
  font-weight: 700;
}

header .header2 h4 {
  margin-bottom: 30px;
}
header .header2 h2 {
  font-size: 55px;
  font-weight: 700;
}

header .header2 h4 {
  font-size: 30px;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 100px;
}

header .header2 h3 {
  font-size: 25px;
  font-weight: 500;
  opacity: 0.8;
}
.allElems .allFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 40px;
}
.elem {
  background: var(--tri);
  /* padding: 30px 40px; */
  font-size: 28px;
  height: 400px;
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
}

.elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 24px;
  bottom: 4%;
  right: 11%;
  color: var(--additional0);
  letter-spacing: 1px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.9);
  font-weight: 200;
  font-size: 30px;
  font-family: bold;
}

.elem:active {
  scale: 0.95;
}

.fullElem {
  height: 100vh;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  overflow: hidden;
  display: none;
  position: absolute;
  top: 0;
  z-index: 999;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--dark3);
  color: var(--LightW0);
  padding: 20px;
  font-size: 30px;
  border-radius: 15px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.todo-list-fullpage h2 {
  font-size: 70px;
}
.todo-list-fullpage .todo-container {
  height: calc(100vh - 180px);
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.todo-list-fullpage .todo-container .addTask {
  width: 34%;
  height: 100%;
  border-radius: 20px;
  background: var(--sec2);
  padding: 25px;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background-color: var(--dark2);
  height: 100%;
  border-radius: 20px;
}

.todo-container .addTask form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.todo-container .addTask form #task-input {
  padding: 10px 20px;
  margin-top: 20px;
  margin-left: 25px;
  width: 90%;
  font-size: 25px;
  background-color: var(--pre2);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.todo-container .addTask form textarea {
  padding: 15px 25px;
  margin-top: 5px;
  margin-left: 25px;
  width: 90%;
  font-size: 25px;
  background-color: var(--pre2);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.todo-container .addTask form button {
  padding: 15px 25px;
  margin-top: 25px;
  margin-left: 30px;
  width: 90%;
  font-size: 25px;
  background-color: var(--pre);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.todo-container .addTask form button:active {
  scale: 0.97;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background-color: var(--dark2);
  height: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pre3);
  padding: 20px 40px;
  border-radius: 8px;
  margin-top: 10px;
}

.task h5 {
  color: var(--dark);
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 5px;
}

.task h5 span {
  background-color: var(--RED);
  color: var(--pre3);
  padding: 5px 8px;
  border-radius: 50px;
  font-size: 15px;
  /* margin-left:10px; */
}
.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 15px 25px;
  border-radius: 5px;
  background-color: var(--BLUE);
  color: var(--LightW0);
  font-size: 15px;
  font-weight: 600;
  border: none;
}

.task button:active {
  scale: 0.96;
}

.mark-imp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 5px 10px;
  /* margin-bottom:px; */
  gap: 20px;
  margin-left: 30px;
}

.mark-imp input {
  scale: 1.7;
}

.mark-imp label {
  font-size: 28px;
}

/* 
.Daily-planner-fullpage{
    display: block;
} */
.Daily-planner-fullpage h2 {
  font-size: 70px;
}
.Daily-planner-fullpage .day-planner {
  background-color: var(--light1);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.Daily-planner-fullpage .day-planner .day-planner-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  font-size: 16px;
  top: 12%;
  left: 2%;
  color: var(--dark);
  font-family: bold;
}
.day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--light0);
  border-radius: 5px;
  font-size: 35px;
  /* font-family: ; */
  border: none;
  padding-top: 34px;
  outline: none;
}

/*
.motivational-fullpage {
  display: block;
  position: relative;
}
 */
.motivation-full-page-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.motivational-fullpage .motivation-container {
  height: 390px;
  width: 65%;
  border-radius: 50px;
  position: relative;
  /* background-color:var(--pre);
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50% ,-50%); */
}

.motivational-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--pre);
  border-radius: 50px;
  scale: 1.25;
  z-index: 8;
  -webkit-filter: blur(90px);
  filter: blur(90px);
}

.motivational-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  /* height: 100%; */
  width: 100%;
  background-color: var(--sec2);
  border-radius: 30px;
  padding: 30px;
  border: 6px solid rgb(15, 15, 15);
}

.motivation-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.motivational-fullpage h2 {
  font-size: 70px;
}
/* .motivation-1 h2{
  background-color:rgb(234, 192, 27);
  font-family: normal;
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: fit-content;
  font-weight: 900;
  text-align: right;
} */

.motivation-2 {
  margin-top: 30px;
  margin-bottom: 15px;
}
.motivation-2 h1 {
  font-size: 55px;
  font-weight: 500;
}

.motivation-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.motivation-3 h2 {
  background-color: var(--pre);
  font-family: normal;
  padding: 20px;
  border-radius: 15px;
  font-size: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  text-align: right;
}

.motivational-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  right: 5%;
  top: 5px;
  opacity: 0.4;
  height: 70px;
}

/*
.Pomodoro-fullpage {
  display: block; 
  position: relative;
}

*/
.Pomodoro-fullpage h2 {
  font-size: 60px;
}

.Pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer h1 {
  font-size: 175px;
}

.pomo-timer button {
  background-color: var(--LightW0);
  color: var(--PomoBTNC);
  padding: 15px 40px;
  font-size: 30px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 7px 7px 0px var(--pre);
  box-shadow: 7px 7px 0px var(--pre);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  font-weight: 700;
}
.pomo-timer button:active {
  -webkit-box-shadow: 0px 0px 0px var(--pre);
  box-shadow: 0px 0px 0px var(--pre);
}

.Pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  font-size: 35px;
}
nav {
  height: 60px;
  width: 100%;
  padding: 20px 30px; /* margin-bottom: 2px */
  position: fixed;
  top: 0;
  z-index: 99;
}
.nav-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--dark2);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px;
  border-radius: 10px;
}
.nav-in h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--LightW0);
}
.theme {
  background-color: var(--LightW0);
  padding: 15px;
  border-radius: 10px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
}
.theme h4 {
  color: var(--dark2);
  font-weight: 700;
  font-size: 20px;
  pointer-events: none;
}
.theme:active {
  scale: 0.96;
}

.Daily-goals-fullpage h1 {
  font-size: 65px;
}

.goal-container {
  margin-top: 30px;
  height: 85%;
}

.goal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.goal-input {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 18px 20px;
  font-size: 22px;
  border: none;
  outline: none;
  border-radius: 8px;
  background: var(--light1);
}

.goal-form button {
  padding: 18px 30px;
  border: none;
  border-radius: 8px;
  background: var(--dark2);
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.allGoals {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  max-height: 80%;
  overflow: auto;
}

.goal {
  background: var(--light1);
  padding: 18px 25px;
  border-radius: 10px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.goal h3 {
  font-size: 24px;
  font-weight: 500;
}

.goal button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: var(--dark2);
  color: white;
  cursor: pointer;
}
